/HazardSensorConfiguration.class
/HazardSensorState.class
/HazardType.class
/HazardZone.class
/HazardZoneChangeCommand.class
/HazardZoneDetection.class
/HazardZoneEstimateReport.class
/RecoveryPoint.class
/SeriesEnum.class
